.scrollButton {
  position: fixed;
  width: 100%;
  left: 96%;
  bottom: 65px;
  height: 50px;
  font-size: 2.5rem;
  z-index: 1;
  cursor: pointer;
  color: #000000;
  opacity: 0.4;

  @media screen and (max-width: 765px) {
    left: 90% !important;
  }

  @media screen and (max-width: 550px) {
    left: 89% !important;
  }
}